# pip install -U -r requirements.txt
Cython
numpy>=1.18.5
opencv-python
torch>=1.5.1
matplotlib
pillow
tensorboard
PyYAML>=5.3
torchvision>=0.6
scipy
tqdm

# pip install git+https://github.com/CSAILVision/semantic-segmentation-pytorch.git@master
